<div class="row background-image">
	<div class="container ">
		<div class="col-sm-12">
			<div class="mm-survey">

			<div class="mm-survey-results">
				<div class="mm-survey-results-container">
				<h3 class="mm-survey-results-score"></h3>
				<ul class="mm-survey-results-list"></ul>
				</div>
			</div>

			<div class="mm-survey-bottom">
				<div class="mm-survey-container">

				<div class="mm-survey-page active" data-page="1">
					<div class="mm-survery-content">
					<div class="mm-survey-question">
						<p>Escolha seu lado da Força</p>
					</div>
					<div class="alinhamento">
						<div class="mm-survey-item">
							<div class="imagem-candidato">
								<img src="https://i.pinimg.com/236x/5a/cb/15/5acb1579e7bc86db02d8d82e271a60fe.jpg" alt="">
							</div>
							<input type="radio" id="radio01" data-item="1" name="radio1" value="red" />
							<label for="radio01"><span></span><p>Kyle Ren</p></label>
						</div>
						<div class="mm-survey-item">
							<div class="imagem-candidato">
								<img src="https://i.pinimg.com/236x/66/0d/de/660ddeba9480d90ef07806fff03ca820.jpg" alt="">
							</div>
							<input type="radio" id="radio02" data-item="1" name="radio1" value="blue" />
							<label for="radio02"><span></span><p>Rey</p></label>
						</div>
					</div>
					</div>
				</div>     
				</div>

				<div class="mm-survey-controller">
				<div class="mm-finish-btn">
					<button>Submit</button>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>